#qq{color:#00ff00;}
#ww{color:#004000;}
#ee{color:#02d2a9;}
#rr{color:#ff8000;}
#tt{color:#bbbb00;}
#yy{color:#0000ff;}
#uu{color:#8a0000;}
#ii{color:#ff80c0;}
#aa{color:#77003c;}
#ss{color:#a2a251;}
#dd{color:#ff0000;}
#ff{color:#8080c0;}